{% extends 'base.html.twig' %}

{% block stylesheetsDist %}
<style type="text/css">
    {% include 'public/styles/critical/index.css' ignore missing %}
</style>
<script>
    (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}"]));
</script>
<noscript>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
</noscript>
{% endblock stylesheetsDist %}

{% block body %}

    <body id="top" class="scrollspy">

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper"><a id="logo-container" href="#top" class="brand-logo">House Of Agile</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">Service</a></li>
                        <!--li><a href="#work">Work</a></li-->
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul id="nav-mobile" class="right side-nav">
                        <li><a href="#intro">Service</a></li>
                        <!--li><a href="#work">Work</a></li-->
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="center-align">
                <img class="responsive-img" src="{{ asset('img/houseofagile.png') }}">
            </div>
            <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">We deliver Quality</b>
                <b>We provide Agility</b>
                <b>Period</b>
            </span>
            </h1>
        </div>
    </div>

    <!--Intro and service-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h4 class="center"> We provide services over the following domains</h4>
                    <h5 class="center">Here are some details about the domain and skills we can provide.</h5>
                </div>

                <div  class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Product</h5>
                        <p class="light center">We focus on test-driven development, thus we have a strong Behavior Driven Development philosophy, which ensure that the development is lead by both business interests and technical insight. We have a team of designer used to mockup our product features with standard tools, which then embeded into our codebase with the latest BDD tool available (Behat/Cucumber)</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Method</h5>
                        <p class="light center">Based on our experience and our skills, we apply the House of agile Methodology, which is one adaptation of the Agile Scrum Methodology</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Delivery</h5>
                        <p class="light center">Thanks to our highly optimized development//deployment system, we usually can deploy version within seconds. Our strong testing philosophy give combined with the latest continuous integration technology make delivery smooth and easy</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div  class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-retweet fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Agility</h5>
                        <p class="light center">We are Scrum evangelist since some years, we already helped several companies to embrace the agility with great success. If you are still playing with waterfall, come to us ;)</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Standart</h5>
                        <p class="light center">We follow standard, we base our work on the most efficient and standardized technical stack. We use the most praised language in order to ensure extensibility and maintenance over time.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center card-panel hoverable">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-spin fa-stack-1x fa-inverse"></i>
                    </span>
                        <h5 class="promo-caption">Efficiency</h5>
                        <p class="light center">We are adept of smart and efficient tools. Don't reinvent the wheel, KISS, and Get the job done are some of our mottos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="img/parallax1.png"></div>
    </div>

    <!--Team-->
    <div class="section scrollspy" id="team">
        <div class="container">
            <h4> A team of expert</h4>
            <h5>Our team is composed by several experts in their fields and a strong network of solid developers // designers // admin sys.</h5>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="img/meggie.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Meggie Bergevin <br/>
                                <small><em><a class="red-text text-darken-1" href="#">Product & Agility</a></em></small></span>
                            <p>
                                Worked several years in the Legacy major companies in France (Total, Loreal, Essilor), as a Change Consultant, she evolve into the Product world, and she is now a Scrum evangelist, because she knows ;)
                            </p>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="img/jc.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Jean-Christophe Meillaud<br/>
                                <small><em><a class="red-text text-darken-1" href="#">Build & Deliver</a></em></small>
                            </span>
                            <p>
                                Powergeek, serial entreprenor, multiple CTO. 20 years of experiences, from hacking to consulting, worked for the biggest companies, and started several startups =]
                            </p>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="img/arnaud.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                Arnaud Morin <br/>
                                <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                            <p>
                             Bla
                            </p>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix white-text"></i>
                                <input id="icon_prefix" type="text" class="validate white-text">
                                <label for="icon_prefix" class="white-text">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="mdi-communication-email prefix white-text"></i>
                                <input id="icon_email" type="email" class="validate white-text">
                                <label for="icon_email" class="white-text">Email-id</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-editor-mode-edit prefix white-text"></i>
                                <textarea id="icon_prefix2" class="materialize-textarea white-text"></textarea>
                                <label for="icon_prefix2" class="white-text">Message</label>
                            </div>
                            <div class="col offset-s7 s5">
                                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Submit
                                    <i class="mdi-content-send right white-text"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-copyright default_color">
            <div class="container">
                House of Agile (c) - 2015
            </div>
        </div>
    </footer>
{% endblock %}
